@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
  font-family: "Roboto";
  box-sizing: border-box;
}

.checked {
  margin: 0 -2rem;
}

.landingPage {
  height: 100vh;
  overflow: hidden;
}

.navbar {
  background-color: #1baff3;
  height: 10vh;
  overflow: hidden;
}

.menu {
  z-index: 4;
}

.navbar img {
  width: 6rem;
  height: 5rem;
}

.navbar img:hover {
  opacity: 0.8;
}

.navbar a {
  text-transform: uppercase;
  transition: all 1s ease-in-out;
}

.navbar a:hover {
  opacity: 0.8;
}

/*slideshow stlye*/
/* Slideshow container */
.slideshow-container {
  max-width: 100vw;

  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 2;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#overlay {
  content: "";
  width: 100%;
  height: 90vh;

  background-color: black;
  opacity: 0.4;
  z-index: 1;
  overflow-x: hidden;
}

#landingword {
  position: absolute;
  z-index: 5;
  margin-top: 15%;
}

#landingword button {
  background-color: #1baff3;
  color: #ffffff;
}

#landingword button:hover {
  opacity: 0.5;
}

.section1 {
  background-color: #0e234e;
  color: white;
}

.section1 span {
  text-transform: uppercase;
}

/* .section1 #button a {
  border: white 3px solid;
  border-radius: 5rem;
  cursor: pointer;
}
#button:hover {
  opacity: 0.7;
} */

#section2 {
  background-image: url(../images/img2.jpg);
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10%;
  padding-left: 2rem;
}

#section2 .text-sans {
  color: #ffffff;
  text-shadow: 2px 2px 7px #393e45;
}

#section3 {
  width: 65vw;
  margin: 1.5rem auto;
}

#section3 ul {
  list-style: circle;
}

.btn {
  transition: all 2s ease-in-out;
  background-color: #0e234e;
  color: #ffffff;
  border-radius: 2rem;
  margin-top: 1rem;
}

.programname {
  color: #1baff3;
}

.btn:hover {
  background-color: #1baff3;
}

#howwetrain {
  background-color: #0e234e;
}

#howwetrain img {
  height: 22rem;
}
#howwetrain .btn {
  border: 2px solid white;
}

.messagefromfounder {
  width: 80vw;
  margin: 1rem auto;
}

.messagefromfounder .name {
  color: #1baff3;
}

#user {
  width: 80vw;
  margin: 1rem auto;
}

.checked {
  color: #ffc400;
}

#footer {
  background-color: #0e234e;
  height: auto;
}

.footerlinks {
  transition: all 1s ease-in-out;
  color: #ffffff;
  z-index: 2;
}

.footerlinks:hover {
  opacity: 0.7;
}
.input {
  border: 0;
  font-size: 0.9rem;
  border-bottom: 1px solid rgb(255, 255, 255);
  outline: none;
  background: transparent;
  color: whitesmoke;
  margin-bottom: 20px;
}
#contact {
  line-height: 1.6rem;
}

form .btn {
  transition: all 0.5s ease-in-out;
  background-color: #ffffff;
  color: #0e234e;
  padding: 0.25rem 0.5rem;
}

form .btn:hover {
  background-color: #ffffff;
  padding: 0.25rem 0.6rem;
  opacity: 0.8;
}

.fa {
  transition: all 1s ease-in-out;
  padding: 0.3rem;
  font-size: 150%;
  width: 5rem;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.fa:hover {
  opacity: 0.5;
}

.copyright {
  height: 5vh;
  background-color: #ff2a00;
}

.menulink {
  width: 30vw;

  position: absolute;
  right: 0;

  z-index: 10;
  border-radius: 3rem;
  visibility: hidden;
}

@media (max-width: 1024px) {
  .landingPage {
    overflow: scroll;
  }

  #overlay {
    height: 78.2vh;
  }

  .landingPage {
    height: 70vh;
  }

  #section3 {
    width: 90vw;
  }

  .messagefromfounder {
    width: 100vw;
    margin: 1rem 1rem;
  }

  #footer {
    height: auto;
  }

  #socialmedia {
    margin: 0 auto;
    text-align: center;
  }

  #contact {
    margin: 0 auto;
    text-align: center;
  }

  #supportform {
    margin: 0 auto;
    text-align: center;
  }

  .linkk {
    border-bottom: 2px;
  }
  .active1 {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    box-shadow: 2px 2px 2px black;

    visibility: visible;
  }
}

/*phones*/
@media (max-width: 766px) {
  .landingPage {
    height: 40vh;
  }
  #overlay {
    height: 30vh;
  }

  #footer {
    height: auto;
  }

  .menulink {
    width: 50vw;
  }

  .messagefromfounder {
    width: 100vw;
    margin: 1rem 0.3rem;
  }

  .messagefromfounder p {
    padding-left: 1rem;
  }
}
